dist/build-stats.json
node_modules
.cache
.env
.tg_secret.txt
src/lib/gramjs/build/
build-contest/
tauri/target/
tauri/gen/
tauri/generated-icons/
tests/
.idea
*.iml
dev/perf/screenshot*
.DS_store
.github/workflows/*
!.github/workflows/package-and-publish.yml
